// you can use the `_identity=` or `PHPSESSID=` cookie

module.exports = {
    cookiesTalenta: 'PHPSESSID=<value>',
    longitude: '107.000',
    latitude: '-6.000',
    timeClockIn: "09:00",
    timeClockOut: "17:00",
}